Options +FollowSymLinks -Indexes
IndexIgnore */*

ErrorDocument 403 "you don't even *go* here."
# ErrorDocument 500 "is *this* thing on?"

# Turn on the RewriteEngine
RewriteEngine On

# delete trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# direct everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L]

# RewriteEngine on
# RewriteCond %{REQUEST_URI} !/index.php$
# RewriteCond %{REQUEST_URI} !\.(css|mov|png)$
# RewriteRule (.*) /index.php [R=302,L]

# RewriteCond %{REQUEST_URI} ^(.*/)index\.php$ [NC]
# RewriteRule . %1 [R=301,NE,L]