* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
 
html {
	font-family: "Helvetica Neue", Helvetica, "Menlo", monospace;
	font-size: 13px;
	/* safari can't handle fonts */
	-webkit-font-smoothing: subpixel-antialiased;
	color: #000;
	background-color: #252525;
}

body {
	width: 500px;
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1;
}

::selection {
	color: white;
	background: red;
}

/* forms */
.form > div {
/* 
	margin-left: 10px;
	margin-right: 10px;
 */
}

textarea, 
input {
	font-family: inherit;
	color: #fff;
	background-color: #111;
	border: 0px;
	padding: 5px;
	resize: none;
}

textarea.large {
	height: 80vh;
}

textarea.medium {
}

textarea.small {
}

textarea.caption {
	width: 50%;
  	height: 21px;
  	display: block;
  	margin-top: 5px;
  	margin-bottom: 5px;
}

img, 
textarea {
	width: 100%;
}

select {
	max-width: 100%;
}

/* links */
a:link, 
a:visited {
	text-decoration: none;
	color: #ff0000;
}

.parent a:link, 
.parent a:visited {
	color: #00ff00;
}

.self a:link,
.self a:visited {
	color: #000;
/* 	text-transform: uppercase; */
	background-color: #fff;
	padding-left:2px;
	padding-right:2px;
}

a:hover,
.parent a:hover,
.self a:hover {
	color: #ffff00;
}


a:active {
}

a::before {
	/*content: "[";*/
}

a::after {
	/*content: "]";*/
}

#page > div{
	padding: 10px;
}

#header-container {
	background-color: #000;
	color: #fff;
}

#body-container {
	background-color: #eee;
}

#footer-container {
	background-color: #ddd;
}
#date-container {
	position: relative;
}
#date {
	position: absolute;
	right: 0px;
}
#nav {
	/*padding: 10px;*/
	z-index: -1;
}

.preview {
	width: 460px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.nav-level {
	padding-left: 2ch;
}

#header:first-child {
}